@charset "utf-8";

.front-page-wrapper {
  width: 100%;
  background: #2fcbb2;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
最初の要素
 */

.front-page-head-wrapper {
  height: 100vh;
}

.content-effect-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.content-effect {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
}

.moire-title-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.moire-title {
  font-family: 'klee',sans-serif;
  font-size: 100pt;
  color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: none;
}

.moire-sub-title {
  font-family: 'klee',sans-serif;
  font-size: 26px;
  color: white;
  position: absolute;
  width: 1000px;
  height: 300px;
  top: calc(50% + 50px);
  left: calc(50% - 500px);
  display: none;
}

@media screen and (max-width: 415px) {
  .moire-title {
    font-size: 70px;
    width: 300px;
    top: calc(50% - 80px);
    left: calc(50% - 150px);  }

  .moire-sub-title {
    left: calc(50% - 200px);
    width: 400px;
  }
}

@media screen and (max-width: 380px) {
  .moire-title {
    width: 200px;
    top: calc(50% - 75px);
    left: calc(50% - 100px);
  }

  .moire-sub-title {
    left: calc(50% - 150px);
    width: 300px;
  }
}

/*
ブロックで共通
 */

 .block-wrapper {
   position: relative;
   background: #ffffff;
   box-shadow: 3px 0px 5px 2px;
   z-index: 999;
 }

 .block-wrapper h2 {
   margin: 0 0 5px;
   letter-spacing: 4px;
 }

 .front-block-title {
   width: 100px;
   height: 1px;
   background-color: #D0324B;
   display: block;
   margin: 0 auto;
 }

 .front-content-wrapper {
   padding: 50px 100px 50px;
   text-align: center;
 }

 @media screen and (max-width: 994px) {
   .front-content-wrapper {
     padding: 50px 60px 50px;
   }
 }

 @media screen and (max-width: 800px) {
   .front-content-wrapper {
     padding: 40px 50px;
     margin: 0 auto;
   }
 }

 @media screen and (max-width: 768px) {
   .block-wrapper h2 {
     font-size: 28px;
   }
 }

 @media screen and (max-width: 476px) {
   .front-content-wrapper {
     padding: 40px 10px;
   }
 }

/*
news
 */
.news-archive-wrap ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 40px 0 0;
}

.news-archive-link {
  margin-top: 60px;
}

.news-archive-link a {
  text-decoration: underline;
  font-size: 18px;
}

.news-archive-link a:hover {
  color: #D0324B;
}

@media screen and (max-width: 524px) {
  .news-archive-link {
    margin-top: 20px;
  }  
}

/*
HPブロック
 */

.project-content-column-wrap {
  margin: 40px 0;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.project-content-column {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.project-content-column-wrap h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.project-logo {
  width: 150px;
}

.project-img {
  height: 150px;
}

.project-content-column-content {
  padding: 0 30px;
  font-size: 16px;
}

.project-content-column-button {
  margin-top: 25px;
}

.project-content-column-button a {
  text-decoration: none;
  background: #2fcbb2;
  color: #ffffff;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #202223;
}

.project-content-column-button a:hover {
  padding: 18px;
  color: #2fcbb2;
  background: #ffffff;
}

@media screen and (max-width: 1198px) {
  .project-content-column-content {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 994px) {
  .project-content-column {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .project-content-column-wrap {
    display: block;
    width: 100%;
  }

  .project-content-column-wrap__weekend {
    margin-top: 80px;
  }

  .project-content-column {
    width: 100%;
    padding: 0;
    display: block;
  }

  .project-content-column-content {
    height: auto;
  }
}
