@charset "utf-8";

.front-page-wrapper {
  width: 100%;
  background: #2fcbb2;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
最初の要素
 */

.front-page-head-wrapper {
  height: 100vh;
}

.content-effect-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.content-effect {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.moire-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.moire-title-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.moire-title {
  font-family: 'klee',sans-serif;
  font-size: 100pt;
  color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: none;
}

.moire-sub-title {
  font-family: 'klee',sans-serif;
  font-size: 26px;
  color: white;
  position: absolute;
  width: 1000px;
  height: 300px;
  top: calc(50% + 50px);
  left: calc(50% - 500px);
  display: none;
}

@media screen and (max-width: 415px) {
  .moire-title {
    font-size: 70px;
    width: 300px;
    top: calc(50% - 80px);
    left: calc(50% - 150px);  }

  .moire-sub-title {
    font-size: 20px;
    left: calc(50% - 200px);
    width: 400px;
  }
}

@media screen and (max-width: 380px) {
  .moire-title {
    width: 200px;
    top: calc(50% - 75px);
    left: calc(50% - 100px);
  }
}

/*
ブロックで共通
 */

 .block-wrapper {
   position: relative;
   background: #ffffff;
   box-shadow: 3px 0px 5px 2px;
   z-index: 999;
 }

 .block-wrapper h2 {
   margin: 0 0 5px;
   font-size: 28px;
   font-family: 'Alegreya Sans SC', sans-serif;
 }

 .front-block-title {
   width: 50px;
   height: 1px;
   background-color: #2fcbb2;
   display: block;
   margin: 0 auto;
 }

 .front-content-wrapper {
   padding: 50px 0;
   margin: 0 auto;
   text-align: center;
   max-width: 1200px;
   width: 100%;
   font-size: 0;
 }

 @media screen and (max-width: 800px) {
   .front-content-wrapper {
     padding: 40px 0;
     margin: 0 auto;
   }
 }

 @media screen and (max-width: 768px) {
   .block-wrapper h2 {
     font-size: 28px;
   }
 }

 @media screen and (max-width: 476px) {
   .front-content-wrapper {
     padding: 40px 10px;
   }
 }

/*
news
 */
.news-archive-wrap ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 40px 0 0;
}

.news-archive-link {
  margin-top: 10px;
}

.news-archive-link a {
  text-decoration: underline;
  font-size: 18px;
}

.news-archive-link a:hover {
  color: #D0324B;
}

@media screen and (max-width: 524px) {
  .news-archive-link {
    margin-top: 20px;
  }
}

/*
HPブロック
 */

.project-content-column-wrap {
  margin: 40px 1%;
  display: inline-block;
  width: calc(100% / 3 - 2%);
  vertical-align: top;
  background: #f7f7f7;
  padding: 30px 0;
  box-shadow: 0px 0px 5px -2px;
  border-radius: 5px;
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 500ms;
  border-top: 4px solid #2fcbb2;
}

.project-content-column-wrap_fadein{
  opacity: 1;
  transform: translate(0, 0);
}

.project-content-column {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.project-content-column-wrap h3 {
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: bold;
}

.project-logo {
  width: 150px;
}

.project-img {
  height: 150px;
}

.project-content-column-content {
  padding: 0 30px;
  font-size: 16px;
  height: 70px;
  margin: 20px 0;
  font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

.project-content-column-button {
  height: 40px;
}

.project-content-column-button a {
  text-decoration: none;
  background: #2fcbb2;
  color: #ffffff;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -2px #202223;
  font-size: 16px;
}

.project-content-column-button a:hover {
  padding: 18px;
  color: #2fcbb2;
  background: #ffffff;
}

@media screen and (max-width: 900px) {
  .project-content-column {
    padding: 0 20px;
  }

  .project-content-column-wrap {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 30px auto 0;
  }

  .project-content-column-content {
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .project-content-column {
    width: 100%;
    padding: 0;
    display: block;
  }

}
