/*
archive
 */

 .more-link {
 	margin-top: 20px;
 	float: left;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	font-size: 15px;
 	font-size: 1em;
 	font-family: 'Cabin', Helvetica, sans-serif;
 }

 .clearfix:before,
 .clearfix:after{
   display: table;
   content: " ";
 }

 /* パンくず */
 .child-category-space {
  height: 250px !important;
 }

 .child-category-item-wrap {
 	text-align: center;
 	overflow: auto;
 	height: 50px;
 	position: relative;
 }

 .child-category-item-wrap ul{
 	margin: 0 70px;
 }

 .child-category-item-wrap ul li{
 	list-style: none;
 	width: calc(100% / 6);
 	float: left;
 	padding: 5px 0;
 }

 .child-category-item-wrap ul li a{
 	text-decoration: none;
 	font-size: 17px;
  color: #ffffff;
 }

 .child-category-item-wrap ul li:hover a{
  color: #D0324B;
 }

 @media screen and (max-width: 1000px) {
 	.child-category-item-wrap ul {
 		padding: 10px 0;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 40px;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 20px;
 	}
 }

 @media screen and (max-width: 512px) {
 	.child-category-item-wrap {
     height: 40px;
 		margin-bottom: 0px;
 	}

 	.child-category-item-wrap ul {
 		display: none;
 	}
 }

 /*
 Content
  */
 .archive-content-wrap {
 	padding: 30px 70px 70px;
  box-shadow: 0px 0px 3px 3px;
  position: relative;
  z-index: 2;
 	overflow: hidden;
 }

 @media screen and (max-width: 1230px) {
 	.archive-content-wrap {
 		padding: 30px 50px 70px;
 	}
 }

 @media screen and (max-width: 1070px) {
 	.archive-content-wrap {
 		padding: 30px 30px 70px;
 	}
 }

 @media screen and (max-width: 614px) {
 	.archive-content-wrap {
 		padding: 30px 5px 50px;
 	}
 }

 @media screen and (max-width: 380px) {
 	.archive-content-wrap {
 		padding: 30px 0 35px;
 	}
 }

/*
single
 */
 /*
 Content
 */
 .post-content {
   background: #ffffff;
   margin-bottom: 10px;
   position: relative;
   box-shadow: 0px 0px 3px 3px;
 }

 .single-content-area {
   width: 650px;
   margin: 60px auto;
 }

 .content-wrap {
   position: relative;
   z-index: 9000;
 }

 .single-content {
   padding: 40px 0;
   font-size: 17px;
 }

 @media screen and (max-width: 500px) {
  .single-content {
    font-size: 15px;
  }
 }


 /* 投稿ページのclassはここに追加 */

 .single-content p {
   margin: 0 0 60px;
   line-height: 35px;
 }

 .single-content h2 {
   font-weight: bold;
   background: linear-gradient(transparent 70%, #2fcdb4 70%);
   text-transform: none;
 }

 .single-content h3, h4 {
   font-weight: bold;
   position: relative;
   padding-left: 35px;/*アイコン分のスペース*/
   line-height: 1.4;
   text-transform: none;
 }

 .single-content h3:before, h4:before {
   font-family: "FontAwesome";
   content: "\f00c";/*アイコンのユニコード*/
   position: absolute;/*絶対位置*/
   font-size: 1em;/*サイズ*/
   left: 0;/*アイコンの位置*/
   top: 0;/*アイコンの位置*/
   color: #2fcdb4; /*アイコン色*/
 }

 .single-content h3 {
   font-size: 21px;
 }
 .single-content h4 {
   font-size: 19px;
 }

 @media screen and (max-width: 650px) {
   .single-content-area {
     width: 100%;
     padding: 0 20px;
   }
 }

 /*
 header
  */
 .single-title-wrap {
   text-align: center;
   overflow: auto;
 }

 .single-title {
   margin: 10px 0;
 }

 .single-title-meta {
   float: left;
   font-size: 14px;
   margin-top: 20px;
 }

 .single-title-meta .posted-on {
   color: #aaaaaa;
 }

/* author */
.single-author a {
  text-decoration: none;
}

.single-author img {
  width: 50px;
}

.single-author .byline {
  display: inline;
}

.single-author:hover .byline{
  color: #D0324B;
}

.single-author-page-bottom {
  margin-top: 30px;
}

 /* category */
 .cat-links-wrap {
   font-size: 18px;
   overflow: auto;
 }

 .cat-links-wrap a {
   text-decoration: none;
 }

 @media screen and (max-width: 450px) {
   .single-title {
     font-size: 25px;
     font-weight: bold;
   }
 }
